doctype
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    block title
        title Default Title
    link(rel='stylesheet', href='bootstrap.css')
    link(rel='stylesheet', href='main.css')
    //-script(src='js/vendor/modernizr-2.7.1.min.js')
  body
    #header.jumbotron @RationalGeek Justin Kohlhepp Résumé
  
    block content
    
    #footer
        #version Version: #{version}

    script(src='//code.jquery.com/jquery-1.11.2.min.js')
    script(src='bootstrap.min.js')