extends ./layout.jade

block title
  title Main Page

block css
  link(rel='stylesheet', href='main.css')

block content
  .container
    .row
      .col-md-9

        h4#intent Intent
        p.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a pulvinar neque, vel laoreet orci. Sed eleifend libero ut tempor ornare. Curabitur condimentum nec nunc auctor dapibus. Nam ut justo mollis, euismod ante et, gravida orci. Nullam faucibus elit elementum lacus ultricies volutpat. Nulla facilisi. Mauris venenatis sed elit sit amet dapibus. Fusce imperdiet ut ante eu porta. Fusce laoreet sem sit amet tellus auctor porttitor. Aliquam porta mattis tortor vel luctus. Fusce viverra viverra enim, id fermentum purus cursus quis. Fusce placerat ipsum libero, vitae dapibus nisl mollis ut. Morbi quis cursus sapien. Vivamus vel interdum mi. Fusce commodo molestie libero quis fermentum.
        p.
          Donec tincidunt volutpat ante, nec sodales mi volutpat vel. Nullam quis ornare lectus, in luctus quam. Vestibulum consectetur, purus vel lobortis ullamcorper, augue ex gravida ligula, et porttitor nunc ex in sem. Mauris in magna ac dui posuere consequat. Proin fringilla nisl in sem elementum, quis tincidunt justo sagittis. Fusce vel dignissim ex, eu ullamcorper justo. Nunc tristique et ipsum eget dignissim. Morbi dignissim lectus sit amet elit sollicitudin, et aliquam augue faucibus. Nam aliquam elit rhoncus diam scelerisque placerat. Vestibulum vulputate ante non dictum consequat. Cras dignissim pretium nibh eget bibendum. Donec ac lectus in turpis aliquam pretium sit amet non neque. Aliquam erat volutpat. Sed tempor, metus eget fringilla sodales, risus lectus blandit nisl, a ultrices nisi tellus quis mi.
        p.
          Aliquam tincidunt suscipit nisl ac semper. Donec vitae magna congue, euismod ex nec, varius sapien. Ut varius volutpat libero, sit amet porta odio dictum vitae. In hac habitasse platea dictumst. Cras eget placerat tortor, sed sagittis neque. Aliquam in odio in metus placerat vulputate. Donec eu rutrum erat.
        p.
          In interdum orci at purus aliquet, at fringilla felis rhoncus. Pellentesque vitae consectetur metus. Nam iaculis, dui sit amet ultrices congue, tortor urna scelerisque diam, nec aliquet nisl urna sed urna. Sed iaculis eleifend consequat. Phasellus eget ex mattis, suscipit lectus ut, rutrum tellus. Nam pellentesque felis at tincidunt pharetra. Maecenas dapibus tellus et est egestas porta.
        p.
          Mauris convallis risus ut elementum fermentum. Nullam in consectetur ligula. Phasellus malesuada velit congue, pretium dui quis, tempor massa. Nam nec rhoncus diam. Proin vitae faucibus nunc. Fusce et lobortis sem, facilisis auctor lectus. Nulla eu gravida risus. In eget porta lacus. Nulla facilisi. Praesent quis vehicula neque. Cras sollicitudin condimentum tellus nec pharetra. Nunc semper nisi eget massa fermentum suscipit.

        h4#skills Skills
        p.
          Praesent malesuada ipsum nec mi imperdiet pulvinar. Aliquam commodo, ante sed lacinia pharetra, nisl dui molestie quam, sed ullamcorper dolor nisi nec orci. Cras eu ipsum efficitur, faucibus lacus non, scelerisque sem. Integer placerat vel risus at tristique. Donec consequat purus ultricies nibh lobortis dapibus. Nam bibendum sit amet dolor a pretium. Ut quis rutrum eros. Integer scelerisque, purus vulputate tristique tristique, augue odio ullamcorper lorem, vel laoreet nulla lorem at risus. Nullam vulputate nibh et dui porttitor, sit amet efficitur justo sodales. Morbi urna dolor, aliquet quis est vel, interdum faucibus est. Aliquam erat volutpat. Vivamus sit amet dolor et nibh mattis eleifend ac in neque. Vivamus quis luctus risus.
        p.
          Fusce tempor lorem at purus auctor iaculis. Sed a dui et odio gravida hendrerit at nec massa. Quisque blandit aliquam nibh a mollis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus velit magna, mattis malesuada consequat sed, facilisis ac augue. Aliquam volutpat sit amet neque aliquet convallis. Donec molestie ante eros, eget fermentum est porttitor sit amet. In id velit rutrum, consequat sapien at, pellentesque quam. Fusce tempor felis eu scelerisque efficitur. Maecenas magna dui, mattis nec faucibus a, tincidunt sit amet lacus. Donec lacinia congue erat maximus ultricies. Duis commodo, purus in sagittis hendrerit, dolor ligula ultricies est, nec tincidunt quam augue vel nisl. Suspendisse at molestie metus. Aliquam interdum mollis eros vel efficitur. Ut finibus a massa in fermentum. Morbi a purus dui.
        p.
          Ut vitae massa elit. Curabitur sed massa quis eros blandit tempor. Maecenas convallis justo lacus, eu iaculis metus gravida eget. Proin vel ex vitae justo consectetur molestie. Aliquam id quam eu leo tempor mollis nec ac arcu. Vivamus et fringilla lorem. Sed tempus ante quis vehicula pretium. Curabitur elementum augue felis, ac posuere leo lobortis et.
        p.
          Aliquam pharetra, lorem a scelerisque volutpat, est mi volutpat justo, vitae lacinia ipsum lorem sit amet turpis. Curabitur id rutrum eros, ut pulvinar erat. Mauris posuere vulputate dignissim. Integer urna nibh, mollis non dapibus eu, laoreet ac nulla. Nullam maximus, nisl sit amet posuere porta, sapien nisl efficitur lacus, in ultricies nisl mauris ut risus. Fusce sit amet eleifend velit, ut congue leo. Suspendisse potenti. Curabitur scelerisque elit vitae vulputate viverra. Sed rhoncus risus eget rhoncus molestie. Suspendisse facilisis et tellus sit amet vulputate. Etiam laoreet pulvinar tortor, at pulvinar turpis tristique ut. Duis tincidunt lacinia tortor, vel mattis leo fermentum ac. Fusce cursus sit amet dolor non ornare. Nam pulvinar, libero eu malesuada porttitor, orci nulla hendrerit nibh, sit amet molestie leo dui non sapien. Sed ultricies arcu nibh, et cursus nisl lobortis quis.
        p.
          Proin et eros in nisi posuere cursus a id ipsum. Fusce tristique eleifend feugiat. Proin mauris elit, aliquet eget neque id, eleifend scelerisque purus. Nullam a ante vitae massa venenatis ultricies. Praesent ac purus turpis. Suspendisse vulputate magna a nunc commodo, sit amet porttitor dui feugiat. Aenean luctus augue posuere massa maximus aliquam. Fusce ac lectus mollis, aliquet nibh eget, porta ipsum. Fusce et malesuada lorem. Duis sagittis ut lacus sed fringilla. Donec eu tortor quis odio tempor varius sed id tellus. Integer convallis faucibus mauris, nec elementum diam facilisis maximus. Etiam porttitor magna a mi pretium, nec vulputate quam fringilla.

        h4#career Career
        p.
          Nulla iaculis enim urna, at sodales nisl sodales hendrerit. Aliquam eu cursus nibh. Praesent non suscipit lectus. Pellentesque tristique ornare risus eget malesuada. Proin sed eros quam. Vestibulum id facilisis magna. Nam luctus mi vitae dictum faucibus. Duis interdum felis vel enim luctus vestibulum. Phasellus ultricies ipsum eu faucibus lobortis. Etiam pretium sapien non nibh fringilla volutpat. Aenean odio lacus, iaculis vel sem eget, porttitor porta urna.
        p.
          Proin non ultrices urna. Nulla facilisi. Vivamus diam est, lacinia eget malesuada nec, dapibus in sapien. Phasellus malesuada ligula sit amet pellentesque bibendum. Quisque finibus ex quis vestibulum cursus. Sed in egestas magna. Ut volutpat ligula nec nibh rutrum rutrum. Morbi aliquet ex vitae orci venenatis, ut cursus lectus sodales. Sed in faucibus ante. Integer id pellentesque urna. Nullam viverra eros a arcu dictum, ut iaculis velit tincidunt.
        p.
          Curabitur sollicitudin magna nec dapibus volutpat. Donec tristique ac magna sed semper. Phasellus sollicitudin pharetra dui, at malesuada sapien condimentum sit amet. Vestibulum interdum massa sed blandit ultrices. Curabitur est nisi, condimentum id nisl tempus, volutpat imperdiet elit. In malesuada elementum lectus, vel commodo erat tempor non. Aenean velit tortor, facilisis feugiat egestas sed, tristique id lectus. Proin volutpat hendrerit tellus, ac gravida nisl sagittis lacinia. Integer vehicula volutpat erat. Fusce non dapibus quam. Integer sem felis, scelerisque vel maximus non, facilisis et neque. Maecenas sit amet enim lorem. Vivamus convallis, lectus sit amet luctus lacinia, tellus felis ultrices mi, vel consequat velit nunc eu urna. Maecenas ut vulputate turpis, nec vestibulum ipsum. Vivamus efficitur magna ex, quis semper odio gravida et.
        p.
          Nulla in consequat nulla, et lacinia sapien. Donec sed finibus felis. Etiam lectus nisl, ullamcorper nec odio at, elementum sagittis erat. Suspendisse potenti. Etiam tristique ligula quam, ac porttitor arcu vestibulum aliquet. Nam libero dui, hendrerit a ante ut, cursus malesuada ipsum. Nunc fermentum, nulla nec pulvinar volutpat, ante justo posuere mauris, cursus iaculis libero mi ac diam.
        p.
          Nam at velit id urna ullamcorper egestas. In hac habitasse platea dictumst. Phasellus et ipsum justo. Sed in orci dignissim, accumsan justo in, rhoncus nulla. Sed non est quis quam porttitor consectetur. Vestibulum lacinia felis nec posuere lacinia. Donec rhoncus erat non rutrum viverra. Vivamus sit amet felis sed magna finibus vestibulum. Integer quis velit lobortis, pulvinar est at, porttitor mauris. Vivamus tincidunt turpis vitae est viverra semper. Quisque dignissim eros quis ornare porta. Aliquam sit amet quam id lacus hendrerit vulputate et ut sapien. Interdum et malesuada fames ac ante ipsum primis in faucibus.

        h4#education Education
        p.
          Nulla facilisi. Integer interdum auctor sem. Aenean nulla nisi, efficitur eget sapien eu, tincidunt ornare sem. Donec egestas, sem a congue pharetra, ex nulla lacinia sapien, iaculis aliquet lacus purus quis tortor. Cras eu eros nec ex consectetur pellentesque vitae non risus. Vivamus at auctor lacus. Phasellus nisi purus, aliquet at egestas non, eleifend eget nulla. Donec eget condimentum nisl. Nullam pellentesque ex vitae ornare ultrices. Duis metus dolor, ultrices nec ex eget, lobortis dapibus lorem. Nulla bibendum justo sed nunc egestas dictum non nec purus. Sed ut volutpat metus. Cras massa diam, ultricies et egestas id, interdum a eros. Donec elementum enim et maximus elementum. Suspendisse potenti.
        p.
          Vestibulum egestas neque tellus, eu vulputate neque consectetur a. Cras egestas sollicitudin lacus, vel semper elit egestas vel. In imperdiet, nibh non finibus suscipit, sapien justo consequat justo, nec viverra elit massa nec massa. Etiam sodales tortor in auctor lacinia. Aenean eget aliquam quam. Donec commodo nisi odio, non dignissim neque faucibus ut. In cursus rhoncus sapien, eget auctor erat elementum in. Fusce eu diam ac dolor consectetur imperdiet quis eget dolor. Praesent pretium elit id velit blandit vehicula. Nullam sed nibh dolor. Nunc aliquam turpis turpis, eu gravida quam maximus vitae. Vestibulum tempus ante eu velit viverra porttitor. Vivamus molestie, sem a malesuada ullamcorper, turpis ipsum ultrices tellus, blandit aliquet elit velit ac nunc. Proin aliquet est leo, id luctus orci cursus vel.
        p.
          Curabitur euismod nulla non quam faucibus convallis. Phasellus sit amet urna et mi consequat accumsan. Sed sed tellus finibus, dignissim eros eu, iaculis tellus. Duis et lectus nec leo ultrices placerat. Aenean faucibus lorem a nisl pellentesque, quis sodales est bibendum. Quisque vulputate blandit lobortis. In porta felis vitae lorem ornare, gravida porttitor neque cursus. Nunc fringilla consequat enim, ornare molestie magna. Etiam fermentum nunc tortor, pellentesque auctor turpis egestas posuere. Duis sagittis enim et libero porttitor sagittis. Maecenas sed lacus iaculis nunc scelerisque venenatis sed non lorem. Cras eget mi a quam aliquam sagittis in a mi. Nulla cursus, arcu sed feugiat volutpat, ex ipsum condimentum nibh, a suscipit urna tortor eget sapien. Pellentesque diam ex, congue eu nulla pulvinar, gravida tempor sem. Sed nec ullamcorper odio.
        p.
          Sed feugiat commodo hendrerit. Morbi molestie bibendum eros, ut pellentesque nisl suscipit ut. Etiam semper dapibus erat eget hendrerit. Aliquam feugiat convallis mi, a volutpat quam porttitor vitae. Praesent suscipit purus id vehicula hendrerit. Morbi sodales ultrices massa. Quisque et dui ut enim dapibus finibus. Donec vitae sagittis libero.
        p.
          Nulla viverra lacinia neque ac venenatis. Vivamus a risus nisi. Cras eget porta lectus. Curabitur eu mi fringilla, vehicula ex id, condimentum lacus. Sed eget leo aliquet, semper felis non, vehicula diam. Phasellus eleifend diam nec bibendum posuere. Vivamus ac convallis sem.

      .col-md-3
        #mainnav
          ul.nav.nav-list
            li
              a(href='#intent') Intent
            li
              a(href='#skills') Skills
            li
              a(href='#career') Career
            li
              a(href='#education') Education

block script
  script(src='main.js')