extends ./layout.jade

block title
  title Main Page

block css
  link(rel='stylesheet', href='main.css')

block content
  .container
    .row
      .col-md-9
        include summary.jade
        include techqual.jade
        include career.jade
        include other.jade
        include education.jade
        include contact.jade

      .col-md-3
        #mainnav
          ul.nav.nav-list

block script
  script(src='main.js')