.majorsection#skills Technical Qualifications

.container

  .row
    .col-md-2.techqual-heading
      | Languages
    .col-md-10.techqual-items
      | C#, CSS / LESS, HTML 5, JavaScript

  .row
    .col-md-2.techqual-heading
      | Frameworks / Libraries
    .col-md-10.techqual-items
      | Entity Framework, Ninject

  .row
    .col-md-2.techqual-heading
      | Platforms
    .col-md-10.techqual-items
      | ASP.NET, Azure, Node.js, Silverlight, WPF

  .row
    .col-md-2.techqual-heading
      | Databases
    .col-md-10.techqual-items
      | MongoDB, Oracle, RavenDB, SQL Server

  .row
    .col-md-2.techqual-heading
      | Methodologies
    .col-md-10.techqual-items
      | Agile / Scrum, Design Patterns, Lean Six Sigma, Test-Driven Development (TDD), this section isn't wrapping correctly?!