h2.majorsection#skills Technical Qualifications

.container

  .row
    .col-md-3.techqual-heading
      | Languages
    .col-md-9.techqual-items
      | C#, CSS, LESS, HTML 5, JavaScript

  .row
    .col-md-3.techqual-heading
      | Frameworks
    .col-md-9.techqual-items
      | Entity Framework